.universal--block {
    position: relative;
    height: 100%;
    color: #333;

    .popup-wrapper {
        z-index: 1200;
    }

    .half-height {
        height: 50%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .rotate_navbar {
        display: flex;
        flex-flow: row-reverse;
        position: absolute;
        top: 0;
        right: 100%;
        width: max-content;
        transform: rotate(-90deg);
        transform-origin: right top;
        z-index: 100;
    }

    .sub-tab {
        padding-left: 45px;
    }

    .geometry_list {
        .disabled {
            opacity: 0.7;
        }
        .selected_tab {
            background-color: #f0f8ff!important;
        }
    }

    .tab-content {
        height: calc(100% - 40px);
        overflow-x: hidden;
        width: 100%;

        .form-control {
            font-size: 13px;
            padding: 2px;
            height: 25px;
        }

        .table th, .table td {
            vertical-align: middle;
            padding: 4px;
        }
        .table th {
            background-color: rgba(221, 221, 221, 0.5);
        }
        .table td {
            border: 1px solid #ddd;
        }
    }
}



.accordion--block {
    color: #6d6d6d;
    position: relative;

    .state-shower {
        font-size: 2em;
        line-height: 0.7em;
    }

    .btn-filter {
        display: block;
        cursor: pointer;
        padding: 10px 11px;
        color: #555555;
        background-size: 100% 100%;
        background: linear-gradient(to top, #efeff4, #d6dadf);
        border: 1px solid #cccccc;
        text-decoration: none;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);

        &:not(.active):hover {
            color: black;
        }
    }

    .accordion--content {
        overflow: auto;
    }
}



.btn-wrap {
    margin-right: 37px;
    margin-top: 5px;
}
.btn-top--icon {
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 0 5px;
    height: 30px;
}



.knowledge-center-button {
    position: absolute;
    top: 1px;
    right: 5px;
}