/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
composer.lock
package-lock.json
worker.log
/storage/tmp/
public/mix-manifest.json
readme.md

public/assets/js/vendor.js
public/assets/js/three-3d-lib.js
public/assets/js/three-webgl.js
public/assets/js/tablda/vendor.js
public/assets/js/tablda/app.js
public/assets/js/vanguard.js
public/assets/css/app.css
public/assets/css/tablda-app.css
public/assets/css/vendor.css
public/fonts
from_image_11_days_ago.env
newly_edited_by_AK_0502.env
