@keyframes popup_anim {
  0% {
    transform: scale(0.1);
    left: -10%;
    top: 50%;
  }
  100% {
    transform: scale(1);
    left: 40%;
    top: 10%;
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1400;
  background: rgba(0, 0, 0, 0.45);
}

.popup {
  position: fixed;
  z-index: 1500;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
  //transform-origin: top left;
  max-height: 100%;
  height: 80%;
  width: 60%;
  max-width: 100%;
  border-radius: 10px;
  padding: 5px 5px 10px 5px;
  background: #444;
}

.header-btn {
  cursor: pointer;
  color: #FFF;
  position: absolute;
  right: 0;
  top: 3px;
  z-index: 100;
}

.vert-table {
  padding-left: 5px;
}

.table {
  th, td {
    border: 1px solid #d3e0e9;
  }
  th {
    background-color: #CCC;
  }
  td {
    text-align: center;
    vertical-align: middle;

    ._img_preview {
      max-width: 250px;
      max-height: 150px;
    }
  }
}

.popup-header {
  color: white;
  line-height: 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 5px;
  position: relative;

  .flex {
    padding-bottom: 3px;
  }
}

.drag-bkg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}

.popup-menu {
  .btn-default {
    background-color: #CCC;
    outline: 0;
  }
  .active {
    background-color: #FFF;
  }
}

.popup-tab {
  height: 100%;
  position: relative;
  top: -3px;
  border: 1px solid #CCC;
  overflow: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;//needed for 'Edit Popup Attachments'
}

.popup-content {
  background: #FFF;
  border-radius: 10px;
  position: relative;

  .popup-overflow {
    overflow: auto;
    height: 100%;
  }
}

.popup-main {
  padding: 5px;

  .popup-buttons {
    min-height: 30px;
    position: relative;

    button, a {
      margin-top: 10px;
    }
    button.pull-right, a.pull-right {
      margin-left: 10px;
    }
  }
}

.many-rows-collapsed {
  width: 7px;
  cursor: pointer;
  background: #eee;
  margin: 5px 0 5px 5px;
}
.many-rows {
  margin-right: 5px;
  flex-basis: 290px;
  padding: 5px 0 16px 5px;
  position: relative;

  h4 {
    /*text-align: center;*/
    margin: 7px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .many-rows--height {
    height: calc(100% - 30px);
  }

  .many-rows-content {
    border: 2px solid #CCC;
    border-radius: 4px;
    height: calc(100% - 36px);
    padding: 3px;
    overflow: auto;
    width: 290px;

    .active {
      background-color: #FFC;
    }
    div {
      padding: 0 5px;
      border-bottom: 1px dashed #CCC;
      cursor: pointer;
      font-size: 1.2em;

      &:hover {
        border: 1px dashed #777;
      }
      label {
        cursor: pointer;
        margin-bottom: 0;
        white-space: nowrap;
      }
    }
  }
}

.right-icons {
  .btn-sm {
    padding: 3px 6px;
    color: #454545;

    img {
      position: relative;
      top: -1px;
    }
  }
}

.resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}