.tab-settings {
  position: relative;
  height: 100%;
  background-color: #FFF;

  .menu-header {
    position: absolute;
    left: -560px;
    width: 570px;
    height: 5px;
    transform-origin: bottom right;
    transform: rotate(-90deg);

    button {
      margin-left: 5px;
      background-color: #CCC;
      outline: none;
      &.active {
        background-color: #FFF;
      }
      &:not(.active):hover {
        color: black;
      }
    }
  }

  .menu-body {
    position: absolute;
    left: 32px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #005fa4;
    border-radius: 5px;
  }
}