
.cell-editing {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: inherit;
}

.checkbox-input {
    margin: 0 !important;
}

textarea {
    resize: none;
    font-size: 1em;
}
.textarea-autosize {
    padding: 0 5px;
    resize: none;
    height: 100%;
    max-height: 100%;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.7 !important;
}

.more_elem {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 3px;
    background-color: #FFF;
    cursor: pointer;
}
